body {
  background-color: wheat;
  font-family: Tahoma;
}

h1 {
  color: green;
  font-size: 40px;
  font-family: Arial;
}

canvas {
  border: 1px solid black;
  height: 200px;
  width: 400px;
}

input {
  font-size: 12pt;
}
